.carousel {
    position: relative;
    width: 1240px;
    height: 415px;
    display: flex;
    overflow: hidden;
    padding-top: 50px;
    &-pic {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
        &-pic-slide-left {
            width: 1240px;
            height: 415px;
            object-fit: cover;
            border-radius: 25px;
            transform: translateX(-100%);
            transition: transform 350ms;
        }
        &-pic-slide-right {
            width: 1240px;
            height: 415px;
            object-fit: cover;
            border-radius: 25px;
            transform: translateX(100%);
            transition: transform 350ms;
        }
    }
    &-arrow-left {
        position: absolute;
        top: 212px;
        cursor: pointer;
        &-hidden {
            display: none;
        }
    }
    &-arrow-right {
        position: absolute;
        top: 208px;
        right: 0px;
        cursor: pointer;
        &-hidden {
            display: none;
        }
    }
    &-index {
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        color: white;
        bottom: 5px;
        left: 600px;
        &-hidden {
            display: none;
        }
    }
}
