.carousel {
    position: relative;
    width: 1240px;
    height: 415px;
    display: flex;
    overflow: hidden;
    padding-top: 50px;
    &-pic {
        width: 1240px;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }
    &-arrow-left {
        position: absolute;
        top: 212px;
        cursor: pointer;
    }
    &-arrow-right {
        position: absolute;
        top: 208px;
        right: 0px;
        cursor: pointer;
    }
    &-index {
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        color: white;
        bottom: 5px;
        left: 600px;
    }
}
