.display-housings {
    width: 100%;
    height: auto;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    &-card {
        position: relative;
        z-index: 0;
        width: 340px;
        height: 340px;
        border-radius: 10px;
        margin-left: 27px;
        &-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        &-title {
            position: absolute;
            z-index: 1;
            bottom: 0px;
            left: 10px;
            padding-right: 5px;
            font-size: 18px;
            font-weight: 700;
            color: white;
        }
    }
}

@media screen and (max-width: 375px) {
    .display-housings {
        width: 335px;
        grid-template-columns: repeat(1, 1fr);
        padding-top: 0px;
        padding-bottom: 25px;
        background-color: white;
        &-card {
            width: 100%;
            height: 255px;
            margin-left: 0px;
        }
    }
}