.folding-menu {
    margin-bottom: 40px;
    &-first-section {
        position: relative;
        width: 100%;
        min-height: 52px;
        background-color: #FF6060;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    &-title {
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        margin-left: 15px;
        padding-top: 13px;
    }
    &-arrow {
        position: absolute;
        right: 15px;
        top: 20px;
        transition: all 300ms;
        &:hover {
            cursor: pointer;
        }
        &-reverse {
            position: absolute;
            right: 15px;
            top: 20px;
            transform: rotate(-180deg);
            transition: all 300ms;
            &:hover {
                cursor: pointer;
            }
        }
    }
    &-second-section {
        position: relative;
                margin: 0;
                width: 100%;
                height: 0px;
                overflow: hidden;
                border-radius: 5px;
                background-color: #F6F6F673;
                transition: all 300ms;
                display: flex;
                align-items: center;
            &-slide {
                position: relative;
                margin: 0;
                width: 100%;
                height: 130px;
                overflow: visible;
                border-radius: 5px;
                background-color: #F6F6F673;
                transition: all 300ms;
                display: flex;
                align-items: center;
        }
    }
    &-description {
        position: absolute;
            opacity: 0;
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            left: 20px;
            transition: all 1000ms;
        &-fade {
            position: absolute;
            opacity: 1;
            width: 100%;
            font-size: 18px;
            font-weight: 400;
            left: 20px;
            transition: all 1000ms;
        }
    }
}
