.folding-menu {
    margin-bottom: 40px;
    &-first-section {
        position: relative;
        width: 100%;
        min-height: 52px;
        background-color: #FF6060;
        border-radius: 5px;
        margin-bottom: 5px;
    }
    &-title {
        color: white;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
        margin-left: 15px;
        padding-top: 13px;
    }
    &-arrow {
        position: absolute;
        right: 15px;
        top: 20px;
        transition: all 300ms;
        &:hover {
            cursor: pointer;
        }
    }
    &-second-section {
        margin: 0;
        width: 100%;
        border-radius: 5px;
        background-color: #F6F6F673;
        display: none;
        transition: all 300ms;
    }
    &-description {
        width: 100%;
        padding: 20px;
        margin: 0;
        font-size: 18px;
        animation: all 500ms both;
    }
}
