.banner {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 223px;
    z-index: 0;
    border-radius: 25px;
    box-shadow: 0px 4px 4px 0px #00000040;
    &-img {
        width: 100%;
        height: 100%;
        border-radius: 25px;
        opacity: 0.6px;
        object-fit: cover;
        filter: brightness(50%);
    }
    &-title {
        position: absolute;
        top: 33%;
        left: 23%;
        margin: 0px;
        font-size: 48px;
        font-weight: 700;
        color: white;
        z-index: 1;
        text-shadow: 1px 1px 3px black;
        border-radius: 50px;
    }
}

@media screen and (max-width: 375px) {
    .banner {
        width: 335px;
        height: 111px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        &-img {
            border-radius: 10px;
        }
        &-title {
            font-size: 24px;
            text-wrap: wrap;
            left: 20px;
            top: 30px;
        }
    }
}
