.rating {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    &-full-star {
        width: 36px;
        height: 36px;
    }
    &-empty-star {
        width: 36px;
        height: 36px;
    }
}