.rating {
    width: 196px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    &-full-star {
        width: 36px;
        height: 36px;
    }
    &-empty-star {
        width: 36px;
        height: 36px;
    }
}

@media screen and (max-width: 375px) {
    .rating {
        width: 98px;    
        &-full-star {
            width: 18px;
            height: 18px;
        }
        &-empty-star {
            width: 18px;
            height: 18px;
        }
    }
}