.navbar {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-logo {
        width: 210.32px;
        height: 68px;
        margin-top: 20px;
    }
    &-link {
        display: flex;
        justify-content: space-around;
        padding-top: 10px;
        width: 309px;
        height: 75px;
    }
    &-accueil, &-apropos {
        font-size: 24px;
        font-weight: 500;
        padding-top: 40px;
        text-decoration: none;
        color: black;
        font-family: "Montserrat", sans-serif;
    } 
}
.underline-link {
    border-bottom: 2px black solid;
}

@media screen and (max-width: 375px) {
    .navbar {
        margin: 0;
        padding: 0;
        width: 335px;
        height: 47px;
        &-logo {
            width: 145px;
            height: 46.88px;
            margin: 0;
        }
        &-link {
            width: 120px;
            height: 17px;
        }
        &-accueil, &-apropos {
            width: 55px;
            font-size: 12px;
            padding: 0;
        }
        &-accueil {
            width: 45px;
            margin-right: 10px;
        }
    }
}